@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Stock Logistics: Powered by Matrixninjas" />
    <meta name="csrf-token" content="rZ3zX1dNEGz3R30Ek9IafBt5MJp31NkEnluQJfNR" />
    <!-- ========== Page Title ========== -->
    <title> Heeblo</title>
    <!-- ========== Favicon Icon ========== -->

    <link rel="shortcut icon" href="~/frontend-assets/pattern/assets/images/fav.png" type="image/x-icon" />
    <!-- Other css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css" />
    <link rel="stylesheet" href="~/frontend-assets/pattern/assets/css/animate.css" />
    <link rel="stylesheet" href="~/frontend-assets/pattern/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/frontend-assets/pattern/assets/css/all.min.css">
    <link rel="stylesheet" href="~/frontend-assets/pattern/assets/css/icofont.min.css" />
    <link rel="stylesheet" href="~/frontend-assets/pattern/assets/css/swiper.min.css" />
    <link rel="stylesheet" href="~/frontend-assets/pattern/assets/css/style.css" />
    <link rel="stylesheet" href="~/frontend-assets/pattern/assets/css/rangeui.css" />


    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet" />
    <!-- ========== End Stylesheet ========== -->
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "350px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>

</head>
<body>


    <div class="main-wraper ">
        <div class="preloader">
            <div class="preloader-inner">
                <div class="preloader-icon">
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
        <header>
            <div class="row">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-lg">
                        <div class="container-fluid">
                            <a class="navbar-brand" href="#">
                                <div class="logo-nav">
                                    <img src="~/frontend-assets/pattern/assets/images//heeblo-logo.png" alt="Logo" />
                                </div>
                            </a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"> <i class="fa-solid fa-bars"></i></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="/home">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="@Url.Action("Login","Auth")"><span class="outer-border">log in   </span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="@Url.Action("SignUp","Auth")">Signup </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </header>


        <div class="content-main-wraper">

            <!-- Start Banner

               ============================================= -->
            <!-- ==========Banner Section Starts Here========== -->
            <div class="banner home-main">
                <div class="container">
                    <div class="top-logo">
                        <img src="~/frontend-assets/pattern/assets/images/Heeblo_Logo_white.png" alt="Logo" />
                    </div>
                    <div class="main-form-center">

                        <div class="row align-items-center g-4">
                            <div class="col-md-6 d-block d-md-none d-lg-none wow fadeInUp" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                                <div class="banner__content">
                                    <img src="~/frontend-assets/pattern/assets/images/login-user.png" alt="" />
                                </div>
                            </div>
                            <div class="col-md-6 wow fadeInUp" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                                <div class="btn-login home-page">
                                    <img src="~/frontend-assets/pattern/assets/images/heeblo-logo.png" alt="Logo" />
                                    <p>Your hub for all <span style="color:#d6c494"><b>things talent</b></span></p>
                                    <a href="@Url.Action("Login","Auth")"> <button type="submit" value="submit">Login </button></a>
                                    <a href="@Url.Action("SignUp","Auth")">   <button type="submit" value="submit">Signup  </button></a>
                                </div>
                            </div>
                            <div class="col-md-6 d-none d-md-block d-lg-block wow fadeInUp" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                                <div class="banner__content">
                                    <img src="~/frontend-assets/pattern/assets/images/login-user.png" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid bottom-info">
                    <div class="left-ft"><a href="mailto:contact@entertainment.com"><i class="fa-solid fa-envelope"></i>contact@entertainment.com</a></div>
                    <div class="right-ft">
                        <ul>
                            <li><a href="#">Terms and Conditions </a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>

        <!-- Start Footer
           ============================================= -->
        <footer class="footer">
            <div class="footer__top padding-tb">
                <div class="container-fluid">
                    <div class="row">

                        <div class="col-lg-3 col-sm-3 col-12">
                            <div class="logo wow fadeInUp" data-wow-delay=".5s">
                                <img src="~/frontend-assets/pattern/assets/images/logo-2.png" alt="Logo" />
                            </div>

                        </div>
                        <div class="col-lg-3 col-sm-3 col-12">
                            <div class="footer__body wow fadeInUp" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s;">
                                <h2> Menu</h2>
                                <ul>
                                    <li> <a href="#"> Home </a> </li>
                                    <li> <a href="#"> Login  </a> </li>
                                    <li><a href="#">  SignUp</a>  </li>

                                </ul>
                            </div>

                        </div>

                        <div class="col-lg-3 col-sm-3 col-12">
                            <div class="footer__body wow fadeInUp" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s;">
                                <h2> Important Links</h2>
                                <ul>
                                    <li> <a href="#"> Term & Condition  </a> </li>
                                    <li> <a href="#"> Privacy & Policy  </a> </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-3 col-12">
                            <div class="social-bottom wow fadeInUp" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s;">
                                <h2> Social Links</h2>
                                <ul>
                                    <li> <a href="#"> <i class="fa-brands fa-facebook-f"></i></a></li>
                                    <li> <a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                    <li> <a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__bottom wow fadeInUp" data-wow-delay=".5s">
                <div class="container-fluid">
                    <div class="row">
                        <p> © COPYRIGHT 2023 . ALL RIGHTS RESERVED.</p>
                    </div>
                </div>
            </div>

        </footer>



        <!-- ==========Footer Section Ends Here========== -->
        <!-- All Scripts -->
        <script src="~/frontend-assets/pattern/assets/js/jquery.js"></script>
        <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js"></script>
        <script src="~/frontend-assets/pattern/assets/js/bootstrap.bundle.min.js"></script>
        <script src="~/frontend-assets/pattern/assets/js/bootstrap.bundle.min.js"></script>
        <script src="~/frontend-assets/pattern/assets/js/waypoints.min.js"></script>
        <script src="~/frontend-assets/pattern/assets/js/swiper.min.js"></script>
        <script src="~/frontend-assets/pattern/assets/js/wow.min.js"></script>
        <script src="~/frontend-assets/pattern/assets/js/lightcase.js"></script>
        <script src="~/frontend-assets/pattern/assets/js/isotope.pkgd.min.js"></script>
        <script src="~/frontend-assets/pattern/assets/js/functions.js"></script>
        <script>

        </script>
        <!-- End Footer Bottom -->
        <!-- End Footer-->




    </div>
    <script>
      $(document).ready(function() {
          var params = new URLSearchParams(window.location.search);
          var pid = params.get("pid");
          console.log(pid); 


        });
    </script>

</body>
</html>
