
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- x-icon -->
    <link rel="shortcut icon" href="~/frontend-assets/pattern/assets/images/fav.png" type="image/x-icon">
    <!-- Other css -->
    <link rel="stylesheet" href="~/frontend-assets/pattern/assets/css/animate.css">
    <link rel="stylesheet" href="~/frontend-assets/pattern/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/frontend-assets/pattern/assets/css/all.min.css">
    <link rel="stylesheet" href="~/frontend-assets/pattern/assets/css/icofont.min.css">
    <link rel="stylesheet" href="~/frontend-assets/pattern/assets/css/swiper.min.css">
    <link rel="stylesheet" href="~/frontend-assets/pattern/assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
    <div class="banner reset-password">
        <div class="container">

            <div class="top-logo">
                <img src="~/frontend-assets/pattern/assets/images/Heeblo_Logo_white.png" alt="Logo" />
            </div>

            <div class="main-form-center">
                <div class="row" style="align-items: center;">

                    <div class="col-md-6 d-block d-md-none d-lg-none wow fadeInUp" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                        <div class="banner__content">
                            <img src="~/frontend-assets/pattern/assets/images/reset-password.png" alt="">
                        </div>

                    </div>


                    <div class="col-md-6">
                        <div class="form-info welcome-login wow fadeInDown" data-wow-duration="1.6s" style="visibility: visible; animation-duration: 1.6s;">

                            <form method="POST" action="{{ route('password.email') }}">

                                <div class="login-tittle">
                                    <h2> Reset Password </h2>
                                    <p>Please Enter Your Email Addresss To Recieve a Verication Code</p>
                                </div>

                                <div class="form-group has-feedback">
                                    <input type="email" name="email" class="form-control" required="autofocus" placeholder="Email Address">

                                </div>



                                <div class="col-md-12">
                                    <button type="submit" value="submit">
                                        Reset
                                    </button>
                                </div>

                            </form>

                        </div>
                    </div>
                    <div class="col-md-6 d-none d-md-block d-lg-block wow fadeInUp" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                        <div class="banner__content">
                            <img src="~/frontend-assets/pattern/assets/images/reset-password.png" alt="">
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="container-fluid bottom-info">

            <div class="left-ft"><a href="mailto:contact@entertainment.com"><i class="fa-solid fa-envelope"></i>contact@entertainment.com</a></div>
            <div class="right-ft">
                <ul>
                    <li><a href="#">Terms and Conditions </a></li>
                    <li><a href="#">Privacy Policy</a></li>

                </ul>
            </div>

        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js"></script>
    <script src="~/frontend-assets/pattern/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/frontend-assets/pattern/assets/js/waypoints.min.js"></script>
    <script src="~/frontend-assets/pattern/assets/js/swiper.min.js"></script>
    <script src="~/frontend-assets/pattern/assets/js/wow.min.js"></script>
    <script src="~/frontend-assets/pattern/assets/js/functions.js"></script>
</body>
</html>