
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- x-icon -->
    <link rel="shortcut icon" href="~/frontend-assets/pattern/assets/images/fav.png" type="image/x-icon">
    <!-- Other css -->
    <link rel="stylesheet" href="~/frontend-assets/pattern/assets/css/animate.css">
    <link rel="stylesheet" href="~/frontend-assets/pattern/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/frontend-assets/pattern/assets/css/all.min.css">
    <link rel="stylesheet" href="~/frontend-assets/pattern/assets/css/icofont.min.css">
    <link rel="stylesheet" href="~/frontend-assets/pattern/assets/css/swiper.min.css">
    <link rel="stylesheet" href="~/frontend-assets/pattern/assets/css/style.css">
    <link rel="stylesheet" href="~/frontend-assets/pattern/assets/css/admin-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>

    <div class="banner">
        <div class="container">
            <div class="content-login">
                <div class="top-logo">
                    <img src="~/frontend-assets/pattern/assets/images/Heeblo_Logo_white.png" alt="Logo">
                </div>
                <div class="middle-text text-center">
                    <h4>The duel of two samurai. </h4>


                    <p>The duel of two Samurai Business Plan <span style="color:#d6c494">Application Received.</span> </p>
                    <p><b>Your have <span style="color:#d6c494"> 200</span> Applications </b> </p>
                </div>
                <div class="row">
                    <div class="col-lg-12">

                        <div class="table-responsive">
                            <table id="myTable" class="display">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Name</th>
                                        <th>Date</th>
                                        <th>AI Score</th>
                                        <th>Grammar Score</th>
                                        <th>Plagiarism Score</th>
                                        <th>Active</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid bottom-info">

            <div class="left-ft">
                <a href="mailto:contact@entertainment.com">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    contact@entertainment.com
                </a>
            </div>
            <div class="right-ft">
                <ul>
                    <li><a href="#">Terms and Conditions </a></li>
                    <li><a href="#">Privacy Policy</a></li>

                </ul>
            </div>


        </div>
    </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js"></script>
    <script src="~/frontend-assets/pattern/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/frontend-assets/pattern/assets/js/waypoints.min.js"></script>
    <script src="~/frontend-assets/pattern/assets/js/swiper.min.js"></script>
    <script src="~/frontend-assets/pattern/assets/js/wow.min.js"></script>
    <script src="~/frontend-assets/pattern/assets/js/functions.js"></script>

</body>

<script>
    $(document).ready(function () {
        const queryParams = new URLSearchParams(window.location.search);
        const id = queryParams.get('id');
        console.log(id);

        $('#myTable').DataTable({
            responsive: true,
            //ajax: {
            //    url: 'your_api_endpoint', // Replace with your API endpoint
            //    method: 'GET',
            //    dataSrc: 'data'
            //},
            //columns: [
            //    {
            //        data: null,
            //        render: function (data, type, row, meta) {
            //            // Render the serial number as the row index + 1
            //            return meta.row + 1;
            //        }
            //    },
            //    { data: 'name' },
            //    { data: 'date' },
            //    { data: 'ai_score' },
            //    { data: 'grammar_score' },
            //    { data: 'plagiarism_score' },
            //    { data: 'is_active' }
            //]
        });
    });
</script>

</html>