@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- x-icon -->
    <link rel="shortcut icon" href="~/frontend-assets/pattern/assets/images/fav.png" type="image/x-icon">
    <!-- Other css -->
    <link rel="stylesheet" href="~/frontend-assets/pattern/assets/css/animate.css">
    <link rel="stylesheet" href="~/frontend-assets/pattern/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/frontend-assets/pattern/assets/css/all.min.css">
    <link rel="stylesheet" href="~/frontend-assets/pattern/assets/css/icofont.min.css">
    <link rel="stylesheet" href="~/frontend-assets/pattern/assets/css/swiper.min.css">
    <link rel="stylesheet" href="~/frontend-assets/pattern/assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>


    <div class="banner">
        <div class="container">
            <div class="content-login">
                <div class="top-logo">
                    <img src="~/frontend-assets/pattern/assets/images/heeblo-logo.png" alt="Logo">
                </div>
                <div class="row" style="align-items: center;">
                    <div class="col-lg-8 col-md-6 main-form-center text-center">
                        <div class="form-info thankyou-page wow fadeInDown" data-wow-duration="1.6s" style="visibility: visible; animation-duration: 1.6s; animation-name: fadeInDown;">
                            <div class="upload file">
                                <img src="~/frontend-assets/pattern/assets/images/thankyou-icon.svg" alt="" />

                            </div>
                            <h2>
                                Thank <span style="color:#d6c494">you !</span>
                            </h2>

                            <p> We have sent a reset password Link on your email <span style="color:#d6c494" id="email"></span></p>
                        </div>
                        <a href="@Url.Action("Login","Auth")" style="color:#ffffff"> Click here to go back to login</a>

                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid bottom-info">
            <div class="left-ft"><a href="mailto:contact@entertainment.com"><i class="fa-solid fa-envelope"></i>contact@entertainment.com</a></div>
            <div class="right-ft">
                <ul>
                   <li><a href="@Url.Action("termsandcondition","Auth")">Terms and Conditions </a></li>
                            <li><a href="@Url.Action("privacypolicy","Auth")">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js"></script>
    <script src="~/frontend-assets/pattern/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/frontend-assets/pattern/assets/js/waypoints.min.js"></script>
    <script src="~/frontend-assets/pattern/assets/js/swiper.min.js"></script>
    <script src="~/frontend-assets/pattern/assets/js/wow.min.js"></script>
    <script src="~/frontend-assets/pattern/assets/js/functions.js"></script>
    <script>
            $(document).ready(function() {
          var params = new URLSearchParams(window.location.search);
          var uValue = params.get("u");

          console.log(atob(uValue));
          $('#email').text(atob(uValue))

          // Further processing or actions with the extracted value can be done here
        });
    </script>
</body>
</html>