<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- x-icon -->
    <link rel="shortcut icon" href="~/frontend-assets/pattern/assets/images/fav.png" type="image/x-icon">
    <!-- Other css -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.2/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="~/frontend-assets/pattern/assets/css/animate.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css" />
    <link rel="stylesheet" href="~/frontend-assets/pattern/assets/css/all.min.css">
    <link rel="stylesheet" href="~/frontend-assets/pattern/assets/css/icofont.min.css">
    <link rel="stylesheet" href="~/frontend-assets/pattern/assets/css/swiper.min.css">
    <link rel="stylesheet" href="~/frontend-assets/pattern/assets/css/style.css">
    <link rel="stylesheet" href="~/frontend-assets/pattern/assets/css/admin-style.css">
    <style>
        .slider.round {
            border-radius: 34px;
        }

            .slider.round:before {
                border-radius: 50%;
            }
    </style>
</head>
<body>
    <div class="banner">
        <div class="container">
            <div class="content-login">
                <div class="top-logo">
                    <img src="~/frontend-assets/pattern/assets/images/Heeblo_Logo_white.png" alt="Logo">
                </div>
                <div class="middle-text text-center">
                    <h4>Flicker Production</h4>
                    <button>
                        <a href="@Url.Action("AddProject","Home")">
                            Add New Project Now
                        </a>
                    </button>
                    <p>The duel of two Samurai Business Plan <span style="color:#d6c494">Application Received</p>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table id="myTable" class="display">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Name</th>
                                        <th>link</th>
                                        <th>Date</th>
                                        <th>Active</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>1</th>
                                        <th>Manager</th>
                                        <th>Http://google.com</th>
                                        <th>2/4/22</th>
                                        <th>Active</th>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid bottom-info">
            <div class="left-ft">
                <a href="mailto:contact@entertainment.com">
                    <i class="fa-solid fa-envelope"></i>contact@entertainment.com
                </a>
            </div>
            <div class="right-ft">
                <ul>
                    <li><a href="#">Terms and Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js"></script>
    <script src="~/frontend-assets/pattern/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/frontend-assets/pattern/assets/js/waypoints.min.js"></script>
    <script src="~/frontend-assets/pattern/assets/js/swiper.min.js"></script>
    <script src="~/frontend-assets/pattern/assets/js/wow.min.js"></script>
    <script src="~/frontend-assets/pattern/assets/js/functions.js"></script>
    <script src="https://cdn.datatables.net/1.11.2/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            var a =@@ViewData["user"];
            console.log(a)
            $('#myTable').DataTable({
                responsive: true,
                ajax: {
                    url: '@Url.Action("GetAllProjects","project")',
                    method: 'GET',
                    dataSrc: 'respObj'
                },
                columns: [
                    {
                        data: null,
                        render: function (data, type, row, meta) {
                            return meta.row + 1;
                        }
                    },
                    { data: 'name' },
                    {
                        data: 'link',
                        render: function (data) {
                            return '<a href="#"' + data + '</a>';
                        }
                    }, 
                    {
                        data: 'date',
                        render: function (data) {
                            return new Date(data).toLocaleDateString('en-US');
                        }
                    },
                    {
                        data: 'is_active',
                        render: function (data) {
                            return data ? '<input class="form-check-input" type="checkbox" checked disabled>' :
                                '<input class="form-check-input" type="checkbox" disabled>';
                        }
                    }
                ]
            }).on('click', 'tr', function () {
                var table = $('#myTable').DataTable();
                var rowData = table.row(this).data();
                window.location.href = '@Url.Action("ApplicationList", "Home")?id=' + rowData.pid;
            });

        });
    </script>
</body>
</html>
