@using Microsoft.AspNetCore.Html
<style>
        .submittedBy {
        font-weight: bold;
        text-decoration: underline;
        cursor: pointer;
    }
    .fa-square-check {
        color: green;
    }

    .fa-circle-xmark {
        background-color: green;
    }
</style>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <table id="tblProject" class="table table-sm table-striped table-bordered">
                    <thead>
                        <tr>
                            <th class="srnumber">Sr no</th>
                            <th>Project Name</th>
                            <th>Application Link</th>
                            <th>Share</th>
                            <th>Total Applications</th>
                            <th>Created On</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script>
        $(document).ready(function() {
            GetAllProjects(user.uid);

        })
        function GetAllProjects(uid) {

            $('#tblProject').DataTable().destroy();
            $("#tblProject").dataTable({
                "ajax": {
                    url: '@(Url.Action("GetAllProjects", "Project"))' + '/' + uid,
                    type: "GET",
                    dataType: "JSON",
                    contentType: "application/json",
                    async: false,
                    dataSrc: ""
                },
                "columns": [
                    {
                        "targets": 0,
                        "render": function(data, type, row, meta) {
                            return meta.row + 1;
                        }
                    },
                    {
                        "data": null,
                        "render": function(a, b, c) {
                            return '<p class="submittedBy" onclick="viewApplication(' + c.pid + ')">' + c.name + '</p>'
                        }
                    },
                    {
                        "data": null,
                        "render": function(data, type, row) {
                            var url = row.link;
                            var link = '<div class="link-container"><p title="' + url + '">' + row.name + '.heeblo.com</p></div>';
                            var copyButton = '<button class="btn btn-info btn-sm " onclick="share(\'copy\', \'' + row.link + '\')" title="Copy to Clipboard"><i class="far fa-copy"></i></button>';
                            return link + '<div class="icon-buttons">' + copyButton + '</div>';
                        }
                    },
                    {
                        "data": null,
                        "render": function(data, type, row) {
                            var whatsappButton = '<button class="btn btn-info btn-sm "  onclick="share(\'w\', \'' + row.link + '\')"><i class="fab fa-whatsapp"></i></button>';
                            var instagramButton = '<button class="btn btn-info btn-sm " onclick="share(\'i\', \'' + row.link + '\')"><i class="fab fa-instagram"></i></button>';
                            var twitterButton = '<button class="btn btn-info btn-sm "  onclick="share(\'t\', \'' + row.link + '\')"><i class="fab fa-twitter"></i></button>';
                            var linkedinButton = '<button class="btn btn-info btn-sm" onclick="share(\'l\', \'' + row.link + '\')"><i class="fab fa-linkedin"></i></button>';
                            return '<div class="icon-buttons">' + whatsappButton + ' ' + instagramButton + ' ' + twitterButton + ' ' + linkedinButton + '</div>';
                        }
                    },
                    { "data": "applicatant_count", },
                    {
                        "data": null,
                        "render": function(a, b, c) {
                            return moment(c.created_on).format("YYYY-MM-DD");
                        }
                    }

                ]
            })
        }
        function share(type, url) {

            switch (type) {
                case 'copy':
                    navigator.clipboard.writeText(url)
                        .then(function() {
                        })
                        .catch(function(error) {
                        });
                    break;
                case 'w':
                    var whatsappUrl = 'https://api.whatsapp.com/send?text=' + encodeURIComponent(url);
                    window.open(whatsappUrl, '_blank');
                    break;
                case 'i':
                    var instagramUrl = 'https://www.instagram.com/?url=' + encodeURIComponent(url);
                    window.open(instagramUrl, '_blank');
                    break;
                case 't':
                    var twitterUrl = 'https://twitter.com/intent/tweet?url=' + encodeURIComponent(url);
                    window.open(twitterUrl, '_blank');
                    break;
                case 'l':
                    var linkedinUrl = 'https://www.linkedin.com/shareArticle?url=' + encodeURIComponent(url);
                    window.open(linkedinUrl, '_blank');
                    break;
                default:
                    // Handle unknown social media platform
                    break;
            }
        }

        function viewApplication(pid) {
            window.location.href = '@(Url.Action("Applications","Home"))' + '?pid=' + pid
        }
    </script>
}