@using Microsoft.AspNetCore.Html
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- x-icon -->
    <link rel="shortcut icon" href="~/frontend-assets/pattern/assets/images/fav.png" type="image/x-icon">
    <!-- Other css -->
    <link rel="stylesheet" href="~/frontend-assets/pattern/assets/css/animate.css">
    <link rel="stylesheet" href="~/frontend-assets/pattern/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/frontend-assets/pattern/assets/css/all.min.css">
    <link rel="stylesheet" href="~/frontend-assets/pattern/assets/css/icofont.min.css">
    <link rel="stylesheet" href="~/frontend-assets/pattern/assets/css/swiper.min.css">
    <link rel="stylesheet" href="~/frontend-assets/pattern/assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        #files {
            position: absolute;
            left: 0;
            bottom: 0;
            opacity: 0;
        }

        .maximum.size p {
            text-align: center;
            color: #fff;
            font-size: 18px;
            font-weight: 500;
        }

        [type="file"] {
            display: none;
        }

        .button small {
            font-size: 0.6em;
        }
    </style>
</head>
<body>
    <div class="banner">
        <div class="container">
            <div class="content-login">
                @*<div class="top-logo">
                <img src="~/frontend-assets/pattern/assets/images/Heeblo_Logo_white.png" alt="Logo">
                </div>*@
                <div class="row" style="align-items: center;">
                    <div class="top-logo">  <img src="~/frontend-assets/pattern/assets/images/Heeblo_Logo_white.png" alt="Logo" /></div>

                    <div class="col-lg-6 col-md-6 main-form-center">

                        <div class="form-info wow fadeInDown" data-wow-duration="1.6s" style="visibility: visible; animation-duration: 1.6s; animation-name: fadeInDown;">
                            <div class="upload file">
                                <p>You're <b style="color:#d6c494">almost there </b></span></p>
                            </div>
                            @*<div class="signup-line">
                            <a href="#">Or</a>
                            </div>*@
                            <div class="col-md-12 btn-login">
                                <div class="upload-btn">
                                    <label for="files" class="button">  Upload Resume<small><br /> Text here</small></label>
                                    <input id="resume" type="file">
                                </div>
                                <div class="upload-btn">
                                    <label for="files" class="button">  Upload Writing Sample<small><br /> Text here</small></label>
                                    <input id="sample" type="file">
                                </div>
                            </div>
                            <div class="maximum size">
                                <p> Max file size: 1 MB.</p> <p>Writing Sample ( Max 500 words )</p>
                            </div>
                            <span id="errorLabel" class="error-label"></span>
                            <br />
                            <button onclick="uploadFile()">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bottom-info">
        <div class="left-ft">
            <a href="mailto:contact@entertainment.com">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                contact@entertainment.com
            </a>
        </div>
        <div class="right-ft">
            <ul>
                <li><a href="#">Terms and Conditions </a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js"></script>
    <script src="~/frontend-assets/pattern/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/frontend-assets/pattern/assets/js/waypoints.min.js"></script>
    <script src="~/frontend-assets/pattern/assets/js/swiper.min.js"></script>
    <script src="~/frontend-assets/pattern/assets/js/wow.min.js"></script>
    <script src="~/frontend-assets/pattern/assets/js/functions.js"></script>
</body>
<script>

    $('label[for="files"]').click(function() {
        $(this).parent().find('input[type="file"]').trigger('click')
    })

    $('input[type="file"]').change(function() {
        var f = $(this)[0].files;
        if (f.length == 0)
            $(this).parent().find('.button small').empty();
        else
            $(this).parent().find('.button small').html(`<br/>` + f[0].name);
    }).trigger('change')

    function uploadFile() {
        var resumeFile = $("#resume").prop("files")[0];
        var sampleFile = $("#sample").prop("files")[0];

        if (!resumeFile || !sampleFile) {
            $("#errorLabel").text("Please upload both files.");
            return;
        }
        $("#errorLabel").text("");

        var user = @(new HtmlString(_hca.HttpContext.Session.GetString("user")??"null"));
        var pid = @(new HtmlString(_hca.HttpContext.Session.GetString("pid")??"null"));


        var formData = new FormData()
        formData.append('resume', $('#resume')[0].files[0]);
        formData.append('sample_content', $('#sample')[0].files[0]);

        formData.append("pid", pid);
        formData.append("uid", user.uid);
        formData.append("created_by", user.uid);

        $.ajax({
            url: `@Url.Action("SaveApplication","Application")`,
            type: 'POST',
            data: formData,
            contentType: false,
            processData: false,
            success: function(resp) {
                console.log(resp)
                if (resp.resp) {
                    window.location.href = "@Url.Action("WriterThankyou", "Home")"
                } else {
                    $("#errorLabel").text(resp.respMsg);
                }
            },
            error: function(err) {
                $("#errorLabel").text("Something went wrong .Please try again");
            }
        })
    }


</script>
</html>